body {
  background-image: radial-gradient(circle, #ffffff,#e1e5eb, #9ea2b5);
  /* blue,#063180, #042663 */ /*blue and black*/
  /* #c2f2ff,#8de4fc, #1fceff */ /*logo- blue*/
  /* #ffffff,#e1e5eb, #9ea2b5 */ /*white and grey*/
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  margin: auto;
}

li {
  /* display: inline; */
  float: left;
}
a {
  display: inline;
  padding: 5px;
  /* background-color: #dddddd; */
}
ul {
  list-style-type: none;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  background-color: black;
  margin-bottom: 0px;
  /* position: fixed;
  top: 0;
  width: 100%; */
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.active {
  color: #12d0ff;
}

li a:hover {
  background-color: none;
  color: #12d0ff;
  /* text-decoration: underline;  */
}
h6 a:hover {
  background-color: none;
  color: #12d0ff;
}
button a:hover{
  color: black;
  background: none;
  text-decoration: none;
}
  /* text-decoration: underline;  */
.sub-navbar{
  border: #505c6e;
  border-radius: 35px 35px 35px 35px;
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  background: #505c6e;
  /* width:40%; */
  /* #12d0ff; logo-blue*/
}

#search1{
  border-radius: 35px 0px 0px 35px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 10px;
  width: 480px;
}
#sbutton1{
  border-radius: 0px 35px 35px 0px;
  float: right;
  width: 50px;
  /* margin-top: 1px; */
  padding: 11px;
  padding-right: 14px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.navbar-brand2{
  background: #505c6e;
  border-radius: 35px 35px 35px 35px;
  color: white;
  margin-top: 15px;
  margin-bottom: 0px;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid{
  background: black;
  padding:0px;
}
/* .w3-left{
  color: white;
  font-size: 50px;
  padding-left: 30px;
}
.w3-right{
  color: white;
  font-size: 50px;
  padding-left: 30px;
} */
/* .mySlides {
  display:none
}
.w3-left, .w3-right, .w3-badge {
  cursor:pointer
} */
/* .w3-badge {
  height:18px;
  width:10px;
  padding:0;
}
.slide1 {
  position: relative;
  text-align: center;
  color: white;
} */

/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
#s1-1{
  position: absolute;
  top: 35%;
  left: 36%;
  color: white;
  transform: translate(-50%, -50%);
}
#s1-2{
  position: absolute;
  top: 45%;
  left: 47.75%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
}
.w3-button {
  position: absolute;
  top: 65%;
  left: 35%;
  transform: translate(-50%, -50%);
}
.w3-blue{
  color: white;
  background-color: #12d0ff;
}
#s2-1{
  position: absolute;
  top: 35%;
  left: 39.5%;
  color: white;
  font-size: 3.5em;
  transform: translate(-50%, -50%);
}
#s2-2{
  position: absolute;
  top: 48%;
  left: 40.75%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
}
.mySlides2{
  filter: blur(5px);
}
#s3-1{
  position: absolute;
  top: 10%;
  left: 45%;
  right: 0%;
  color: white;
  font-size: 2.0em;
  transform: translate(-50%, -50%);
}
#button3{
  top: 37%;
  left: 29.25%;
  position: absolute;

  transform: translate(-50%, -50%);

}
.company1{
  border: 5px solid white;
  background: white;
  padding: 10px;
  margin-left: 10px;
  /* margin-right: 50%; */
  float: left;
  margin: 25px;
  border-radius: 5px 5px 5px 5px;
}
.companies{
  border: 5px solid #505c6e;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  background: #505c6e;
  padding: 10px;
  margin-left: 190px;
  /* margin-right: 50%; */
  float: left;
  margin-top: 20px;
  border-radius: 5px 5px 5px 5px;
}
.recommended-company{
  border: 5px solid #505c6e;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  background: #505c6e;
  padding: 10px;
  margin-left: 190px;
  /* margin-right: 50%; */
  color:white;
  float: left;
  margin-top: 20px;
  border-radius: 5px 5px 5px 5px;
}
.company2{
  margin-left:25px;
  margin-top:20px;
  margin-right: 19px;
}

.profile-box{
  border: 5px solid #505c6e;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  background: #505c6e;
  padding:3px;
  margin-left: 10px;
  /* margin-right: 50%; */
  text-align: center;
  color:white;
  float: left;
  margin-top: 20px;
  border-radius: 5px 5px 5px 5px;
}
.profile-content{
  margin-left:14.5px;
  margin-top:20px;
  margin-right: 14.5px;
}
.r-company1{
  border: 5px solid white;
  background: white;
  padding: 10px;
  margin-left: 10px;
  /* margin-right: 50%; */
  margin: 25px;
  border-radius: 5px 5px 5px 5px;
}
.r-companies{
  border: 5px solid #505c6e;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  background: #505c6e;
  padding: 10px;

  /* margin-left: 190px; */
  /* margin-right: 50%; */

  margin-top: 20px;
  border-radius: 5px 5px 5px 5px;
}
.r-recommended-company{
  border: 5px solid #505c6e;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  background: #505c6e;
  padding: 10px;
  padding-left: 50px;
  padding-right: 240px;
  margin:auto;
  /* margin-right: 50%; */
  color:white;
  float: left;
  margin-top: 20px;
  border-radius: 5px 5px 5px 5px;
}
